{{extend 'layout.html'}}
<h1></h1>
{{
if status == submitted:
    if token_submitted:
        response.write("<h2>You already submitted your info!</h2>", escape=False)
    else:
        response.write("<h2>Thanks for submitting!</h2>", escape=False)
    pass

elif status == invalid_token:
    response.write("Invalid token")
    pass

else:
    response.write("<h2>Approve data request?</h2>", escape=False)
    response.write("<div id='web2py-user-form' class='col-lg-6'> \
                        <form method='POST' class='form-horizontal'> \
                            <div class='form-group'> \
                               <label class='control-label col-sm-3'>First Name:</label> \
                               <div class ='col-sm-9'> \
                                   <input class='form-control string' name='first_name' type='text' value='"+ first_name +"' /> \
                                   <span class='help-block'></span> \
                               </div> \
                               <label class='control-label col-sm-3'>Last Name:</label> \
                               <div class ='col-sm-9'> \
                                   <input class='form-control string' name='last_name' type='text' value='"+ last_name +"' /> \
                                   <span class='help-block'></span> \
                               </div> \
                               <label class='control-label col-sm-3'>E-mail:</label> \
                               <div class ='col-sm-9'> \
                                   <input class='form-control string' name='email' type='text' value='"+ email+"' /> \
                                   <span class='help-block'></span> \
                               </div> \
                               <label class='control-label col-sm-3'>Entergy Username:</label> \
                               <div class ='col-sm-9'> \
                                   <input class='form-control string' name='entergy_username' /> \
                                   <span class='help-block'></span> \
                               </div> \
                               <label class='control-label col-sm-3'>Entergy Password:</label> \
                               <div class ='col-sm-9'> \
                                   <input class='form-control string' name='entergy_password' type='password' /> \
                                   <span class='help-block'></span> \
                               </div> \
                               <input type='Submit' value='Approve Request' /> \
                            </div> \
                        </form> \
                   </div>", escape=False)
    pass

}}
