{{extend 'layout.html'}}
<h1>Your Company Dashboard</h1>

<br />
{{
## If email is already in pending_requests and the user tried to re-send it, let them know
if already_submitted:
    response.write(B('That email address is already in the data requests below.'))
    pass
}}

<h2>View Data Requests</h2>
{{=data_requests}}

<h2>Send a new data request</h2>
{{
## Display form for submitting new request to queue
response.write(" \
               <div id='web2py-user-form' class='col-lg-6'> \
                   <form method='POST' class='form-horizontal'> \
                       <div class='form-group'> \
                           <label class='control-label col-sm-3'>Customer First Name: </label> \
                           <div class ='col-sm-9'> \
                               <input class='form-control string' name='first_name' type='text' /> \
                               <span class='help-block'></span> \
                           </div> \
                       </div> \
                       <div class='form-group'> \
                           <label class='control-label col-sm-3'>Customer Last Name: </label> \
                           <div class ='col-sm-9'> \
                               <input class='form-control string' name='last_name' type='text' /> \
                               <span class='help-block'></span> \
                           </div> \
                       </div> \
                       <div class='form-group'> \
                           <label class='control-label col-sm-3'>Customer Email: </label> \
                           <div class ='col-sm-9'> \
                               <input class='form-control string' name='email' type='text' /> \
                               <span class='help-block'></span> \
                           </div> \
                       </div> \
                       <input type='Submit' value='Send Request' /> \
                       <span class='help-block'></span> \
                   </form> \
               </div> \
               ", escape=False)
}}
