{{extend 'layout.html'}}

<h1>Manage Employees</h1>
<form method='POST'>
{{
# Generate table of employees pending registration approval
if len(pending_list) > 0:
    response.write(DIV(
                    BR(),
                    H3(
                        'Users Pending Your Approval:'
                        ),
                    BR(),
                    ),
                )
    response.write("<table class='manage-table'>\
                        <tr>\
                            <th>First</th>\
                            <th>Last</th>\
                            <th>Approve?</th>\
                        </tr>\
                    ", escape=False)
    for i, item in enumerate(pending_list):
    id = item.keys()[0]
    last_name = pending_list[i][id]['last']
    first_name = pending_list[i][id]['first']

    response.write(XML('<tr><td>'+first_name+'</td><td>'+last_name+'</td><td><input type="checkbox" name="'+str(id)+'_approve" /></td></tr>', \
                       sanitize=True, permitted_tags=['tr', 'td', 'form', 'input'], \
                       allowed_attributes={'input':['type', 'name']}))

    pass # end for loop
    response.write("</table>", escape=False)
pass

response.write(DIV(
                    BR(),
                    H3  (
                        'Approved Employees:'
                        ),
                    BR(),
                    ),
                )

# Generate table of employees approved as members
response.write("<table class='manage-table'>\
                    <!--<form method='POST'>-->\
                    <tr>\
                        <th>First</th>\
                        <th>Last</th>\
                        <th>Remove?</th>\
                    </tr>\
                ", escape=False)
for i, item in enumerate(approved_list):
id = item.keys()[0]
last_name = approved_list[i][id]['last']
first_name = approved_list[i][id]['first']
manager_status = approved_list[i][id]['manager_status']

can_check =  '</td><td><input type="checkbox" disabled="disabled" />' if manager_status else \
             '</td><td><input type="checkbox" name="'+str(id)+'_unapprove"/>'


response.write(XML('<tr><td>'+first_name+'</td><td>'+last_name+can_check, \
                   sanitize=True, permitted_tags=['tr', 'td', 'form', 'input'], \
                   allowed_attributes={'input':['type', 'name', 'disabled']}))

pass
response.write("<tr><td> \
                <span class='help-block'></span> \
                <input type='submit' value='Update' /> \
                <span class='help-block'></span> \
<br /></td></tr>\
<!--</form>-->\
</table>", escape=False)

}}
